*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

section{
    height: 90vh;    
}

#hero{
    background-image: url("./IMG/bg1.png");
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

h1{
    font-size: 3rem;
    margin-left: 30vh;
    
}

h2{
    font-size: 2rem;
    margin-left: 35vh;
    
}

.projects-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: 000;
}

.project-detail{
    border: 5px solid red;
    width: 700px;
    margin: 20px;
    color: white;

}

.project-detail img{
    width: 100%;
    
}

.project-detail p, h3, a{
    margin: 10px;
    
   
}

header{
    position: sticky;
    top: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: red;
}

nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
    
}

nav ul li{
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px 20px;
}